
@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300;
}

.typed-cursor {
  font-size: 1.25rem;
  opacity: 0.7;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 0; }
}